auto-install-peers = true
strict-peer-dependencies = false
prefer-workspace-packages = true
link-workspace-packages = deep
hoist = true
shamefully-hoist = true

# node-gyp configuration
msvs_version=2022
msbuild_path=D:\Soft\Soft Add\vsBuildTools\anzhuang\MSBuild\Current\Bin\MSBuild.exe
python=python3
target_platform=win32
target_arch=x64
runtime=node
build_from_source=false
