// paper & background
$paper: #ffffff;

// primary
$primaryLight: #f3f5ff;
$primaryMain: #414fff;
$primaryDark: #6375ff;
$primary200: #b1bfff;
$primary800: #3342ff;

// secondary
$secondaryLight: #dde4ff;
$secondaryMain: #414fff;
$secondaryDark: #3342ff;
$secondary200: #96a9ff;
$secondary800: #242b69;

// success Colors
$successLight: #dbffc7;
$success200: #a6f787;
$successMain: #7df75a;
$successDark: #18bb0c;

// error
$errorLight: #ffc6c6;
$errorMain: #ff3e2d;
$errorDark: #c61400;

// orange
$orangeLight: #ebecfe;
$orangeMain: #bfbefc;
$orangeDark: #a996ff;

// brown
$tealLight: #76c893;
$tealMain: #52b69a;
$tealDark: #34a0a4;

// warning
$warningLight: #fff5d6;
$warningMain: #ffdd7e;
$warningDark: #ffc71e;

// grey
$grey50: #fafafa;
$grey100: #ebeeff;
$grey200: #e2e6f8;
$grey300: #dbe0ff;
$grey400: #b1bfff;
$grey500: #96a9ff;
$grey600: #42444f;
$grey700: #22339a;
$grey900: #242b69;

// transparent
$transparent: #ffffff00;

// custom highlight
$highlightYellow: #f8fd41;

// ==============================|| DARK THEME VARIANTS ||============================== //

// paper & background
$darkBackground: #111217;
$darkPaper: #111217;

// dark 800 & 900
$darkLevel1: #1c1e25; // level 1
$darkLevel2: #2d2f39; // level 2

// primary dark
$darkPrimaryLight: #23262c;
$darkPrimaryMain: #23262c;
$darkPrimaryDark: #191b1f;
$darkPrimary200: #b1bfff;
$darkPrimary800: #32353b;

// secondary dark
$darkSecondaryLight: #454c59;
$darkSecondaryMain: #414fff;
$darkSecondaryDark: #ffffff;
$darkSecondary200: #32353b;
$darkSecondary800: #3342ff;

// text variants
$darkTextTitle: #fdffaf;
$darkTextPrimary: #dbe0ff;
$darkTextSecondary: #96a9ff;

// ==============================|| JAVASCRIPT ||============================== //

:export {
    // paper & background
    paper: $paper;

    // primary
    primaryLight: $primaryLight;
    primary200: $primary200;
    primaryMain: $primaryMain;
    primaryDark: $primaryDark;
    primary800: $primary800;

    // secondary
    secondaryLight: $secondaryLight;
    secondary200: $secondary200;
    secondaryMain: $secondaryMain;
    secondaryDark: $secondaryDark;
    secondary800: $secondary800;

    // success
    successLight: $successLight;
    success200: $success200;
    successMain: $successMain;
    successDark: $successDark;

    // error
    errorLight: $errorLight;
    errorMain: $errorMain;
    errorDark: $errorDark;

    // orange
    orangeLight: $orangeLight;
    orangeMain: $orangeMain;
    orangeDark: $orangeDark;

    // orange
    tealLight: $tealLight;
    tealMain: $tealMain;
    tealDark: $tealDark;

    // warning
    warningLight: $warningLight;
    warningMain: $warningMain;
    warningDark: $warningDark;

    // grey
    grey50: $grey50;
    grey100: $grey100;
    grey200: $grey200;
    grey300: $grey300;
    grey400: $grey400;
    grey500: $grey500;
    grey600: $grey600;
    grey700: $grey700;
    grey900: $grey900;

    // ==============================|| DARK THEME VARIANTS ||============================== //

    // paper & background
    darkPaper: $darkPaper;
    darkBackground: $darkBackground;

    // dark 800 & 900
    darkLevel1: $darkLevel1;
    darkLevel2: $darkLevel2;

    // text variants
    darkTextTitle: $darkTextTitle;
    darkTextPrimary: $darkTextPrimary;
    darkTextSecondary: $darkTextSecondary;

    // primary dark
    darkPrimaryLight: $darkPrimaryLight;
    darkPrimaryMain: $darkPrimaryMain;
    darkPrimaryDark: $darkPrimaryDark;
    darkPrimary200: $darkPrimary200;
    darkPrimary800: $darkPrimary800;

    // secondary dark
    darkSecondaryLight: $darkSecondaryLight;
    darkSecondaryMain: $darkSecondaryMain;
    darkSecondaryDark: $darkSecondaryDark;
    darkSecondary200: $darkSecondary200;
    darkSecondary800: $darkSecondary800;

    // transparent
    transparent: $transparent;

    // custom highlight
    highlightYellow: $highlightYellow;
}
