// paper & background
$paper: #ffffff;

// primary
$primaryLight: #F3F5FF;
$primaryMain: #414FFF;
$primaryDark: #6375FF;
$primary200: #B1BFFF;
$primary800: #3342FF;

// secondary
$secondaryLight: #DDE4FF;
$secondaryMain: #414FFF;
$secondaryDark: #3342FF;
$secondary200: #96A9FF;
$secondary800: #242B69;

// success Colors
$successLight: #DBFFC7;
$success200: #A6F787;
$successMain: #7DF75A;
$successDark: #18BB0C;

// error
$errorLight: #FFC6C6;
$errorMain: #FF3E2D;
$errorDark: #C61400;

// orange
$orangeLight: #EBECFE;
$orangeMain: #BFBEFC;
$orangeDark: #A996FF;

// brown
$tealLight: #76c893;
$tealMain: #52b69a;
$tealDark: #34a0a4;

// warning
$warningLight: #FFF5D6;
$warningMain: #FFDD7E;
$warningDark: #FFC71E;

// grey
$grey50: #fafafa;
$grey100: #EBEEFF;
$grey200: #E2E6F8;
$grey300: #DBE0FF;
$grey400: #B1BFFF;
$grey500: #96A9FF;
$grey600: #42444F;
$grey700: #22339A;
$grey900: #242B69;

// transparent
$transparent: #ffffff00;

// custom highlight
$highlightYellow: #F8FD41;

// ==============================|| DARK THEME VARIANTS ||============================== //

// paper & background
$darkBackground: #191b1f;
$darkPaper: #191b1f;

// dark 800 & 900
$darkLevel1: #25272D; // level 1
$darkLevel2: #25272B; // level 2

// primary dark
$darkPrimaryLight: #23262c;
$darkPrimaryMain: #23262c;
$darkPrimaryDark: #191b1f;
$darkPrimary200: #B1BFFF;
$darkPrimary800: #32353b;

// secondary dark
$darkSecondaryLight: #454c59;
$darkSecondaryMain: #414FFF;
$darkSecondaryDark: #ffffff;
$darkSecondary200: #32353B;
$darkSecondary800: #3342FF;

// text variants
$darkTextTitle: #FDFFAF;
$darkTextPrimary: #DBE0FF;
$darkTextSecondary: #96A9FF;

// ==============================|| JAVASCRIPT ||============================== //

:export {
    // paper & background
    paper: $paper;

    // primary
    primaryLight: $primaryLight;
    primary200: $primary200;
    primaryMain: $primaryMain;
    primaryDark: $primaryDark;
    primary800: $primary800;

    // secondary
    secondaryLight: $secondaryLight;
    secondary200: $secondary200;
    secondaryMain: $secondaryMain;
    secondaryDark: $secondaryDark;
    secondary800: $secondary800;

    // success
    successLight: $successLight;
    success200: $success200;
    successMain: $successMain;
    successDark: $successDark;

    // error
    errorLight: $errorLight;
    errorMain: $errorMain;
    errorDark: $errorDark;

    // orange
    orangeLight: $orangeLight;
    orangeMain: $orangeMain;
    orangeDark: $orangeDark;

    // orange
    tealLight: $tealLight;
    tealMain: $tealMain;
    tealDark: $tealDark;

    // warning
    warningLight: $warningLight;
    warningMain: $warningMain;
    warningDark: $warningDark;

    // grey
    grey50: $grey50;
    grey100: $grey100;
    grey200: $grey200;
    grey300: $grey300;
    grey400: $grey400;
    grey500: $grey500;
    grey600: $grey600;
    grey700: $grey700;
    grey900: $grey900;

    // ==============================|| DARK THEME VARIANTS ||============================== //

    // paper & background
    darkPaper: $darkPaper;
    darkBackground: $darkBackground;

    // dark 800 & 900
    darkLevel1: $darkLevel1;
    darkLevel2: $darkLevel2;

    // text variants
    darkTextTitle: $darkTextTitle;
    darkTextPrimary: $darkTextPrimary;
    darkTextSecondary: $darkTextSecondary;

    // primary dark
    darkPrimaryLight: $darkPrimaryLight;
    darkPrimaryMain: $darkPrimaryMain;
    darkPrimaryDark: $darkPrimaryDark;
    darkPrimary200: $darkPrimary200;
    darkPrimary800: $darkPrimary800;

    // secondary dark
    darkSecondaryLight: $darkSecondaryLight;
    darkSecondaryMain: $darkSecondaryMain;
    darkSecondaryDark: $darkSecondaryDark;
    darkSecondary200: $darkSecondary200;
    darkSecondary800: $darkSecondary800;

    // transparent
    transparent: $transparent;
    
    // custom highlight
    highlightYellow: $highlightYellow;
}
